$black: #303030; //rgb(48, 48, 48)
$white: #FFF;
$paragraphBlack: #4d4e4f; //rgb(75, 76, 77)
$textRed: rgb(219, 60, 46);
$lightBlue: rgb(50, 154, 207);

$shadeBlue: rgb(49, 76, 87); //#314b57;
$shadePurple: rgb(69, 63, 68); //#453f44;
$shadeRed: rgb(92, 52, 50); //#5c3432;